.wrapper{
    width: 100%;
    border-bottom: 1px solid #252526;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 2px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    font-size: 24px;
    align-items: center;
}

.buttons_menu:hover
{
    cursor: pointer;
}

.logo_portfolio{
    font-weight: 700;
}

.buttons{
    display: flex;
    align-items: center;
}

.buttons_menu{
    padding: 0 20px;

}

.buttons_menu_link {
    position: relative;
}

.buttons_menu_link::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 0;
    background-color: var(--purple);
    transition: width .4s;
}

.buttons_menu_link:hover::before {
    width: 100%;
}

.logo a:hover{
    color: #fff;
}

@media(max-width:580px){
    .wrapper{
        position: fixed;
        top: 0;
        z-index: 100;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid var(--purple);
    }

    .logo{
        display: none;
    }

    .container{
        justify-content: center;
    }
}
