.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0 20px;
    line-height: 3;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.wrapper a{
    padding: 0 20px;
}

.copyrigth{
    font-weight: 500;
}
